POSTGRES_DB=mydatabase
POSTGRES_PASSWORD=admin

API_JWT_SECRET=some64characterstringhere
API_POSTGRES_CONNECTION_STRING=host=localhost port=5432 user=postgres password=${POSTGRES_PASSWORD} dbname=${POSTGRES_DB} sslmode=disable